<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Found</title>
</head>
<body>
    <hgroup>
        <h1>404</h1>
        <h2>The Page you are looking for cannot be found.</h2>
    </hgroup>
</body>
</html>
